In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("answers.csv", index_col=0)
df.head()

,created,salarymx,salaryusd,extramx,extrausd,variation,english_num,english_label,age,experience,...,ben_gym,ben_flexhours,ben_homeoffice,ben_loan,ben_healthmajor,ben_healthminor,ben_lifeins,ben_cafeteria,ben_cellphone,ben_vouchers
id,,,,,,,,,,,,,,,,,,,,,
1,2019-12-23 22:14:57.072546,80000,0,60000,0,20,4,Avanzado: Puedo conversar y escribir sin probl...,24,5,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN
2,2019-12-23 22:19:42.131242,28000,0,28,0,5,1,Elemental: Sé lo básico para sobrevivir (ILR 1),29,4,...,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-23 22:19:53.567686,26000,0,40000,0,4,2,Limitado: Me doy a entender pero con errores d...,34,7,...,NaN,Y,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-23 22:24:04.580942,35000,0,18000,0,30,3,Profesional: Puedo interactuar profesionalment...,25,5,...,NaN,Y,Y,NaN,NaN,NaN,NaN,Y,NaN,NaN
5,2019-12-23 22:24:22.759488,17000,0,219000,0,0,1,Elemental: Sé lo básico para sobrevivir (ILR 1),28,2,...,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN